* {
    margin: 0;
    padding: 0;
}

main {
    height: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 80px auto 80px;
    grid-template-rows: auto;
}

.container-home {
    grid-template-areas: 
        "i1 i1 i1"
        ". t1 ."
        ". j5 ."
        "i2 i2 i2"
        ". t2 ."
        "j6 j6 j6";   
}

.container-contact {
    grid-template-areas:
        "i3 i3 i3"
        "i4 i4 i4"
        ". t3 ."
        ". f1 .";
}

.container-info {
    grid-template-areas:
        ". t4 ."
        "i5 i5 i5"
        "i6 i6 i6"
        ". t5 ."
        ". v1 .";
}

.container-life {
    grid-template-areas:
        ". t6 ."
        "i7 i7 i7"
        "i8 i8 i8"
        "i9 i9 i9"
        ". t7 .";
}

.container-pets {
    grid-template-areas: 
        "j1 j1 j1"
        ". t8 ."
        "j2 j2 j2"
        "j3 j3 j3"
        ". t9 ."
        "j4 j4 j4";
}

ul {
    list-style-type: none;
    position: fixed;
    width: 100%;
    background-color: lightgray;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

li a {
    display: block;
    padding: 20px 15px;
    text-align: center;
    text-decoration: none;
    color: rgb(26, 25, 25);
}

li a:hover {
    color: green;
}

.active {
    text-decoration: underline;
}

header {
    background-color: rgb(92, 199, 92);
    text-decoration: none;
    text-align: center;
    color: black;
    padding-top: 80px;
}

h1 {
    text-decoration: none;
    color: black;
    padding-bottom: 20px;
}

article {
    font-family: 'Nunito', sans-serif;
}

h2 {
    color: rgb(158, 15, 158);
    font-size: 30px;
}

p {
    font-size: 22px;
    line-height: 29px;
}

img {
    width: 95%;
    margin: 15px;
}

.img-home-1 {
    grid-area: i1;
}

.img-home-2 {
    grid-area: i2;
}

.img-home-3 {
    grid-area: j5;
}

.img-home-4 {
    grid-area: j6;
}

.img-contact-1 {
    grid-area: i3;
}

.img-contact-2 {
    grid-area: i4;
}

.img-info-1 {
    grid-area: i5;
}

.img-info-2 {
    grid-area: i6;
}

.img-life-1 {
    grid-area: i7;
}

.img-life-2 {
    grid-area: i8;
}

.img-life-3 {
    grid-area: i9;
}

.img-pets-1 {
    grid-area: j1;
}

.img-pets-2 {
    grid-area: j2;
}

.img-pets-3 {
    grid-area: j3;
}

.img-pets-4 {
    grid-area: j4;
}

.home-text-1 {
    grid-area: t1;
}

.home-text-2 {
    grid-area: t2;
}

.contact-text-1 {
    grid-area: t3;
}

.contact-form {
    grid-area: f1;
    margin-top: 10px;
}

input, textarea {
    padding: 8px;
    margin: 2px;
    border: 1px solid;
    border-radius: 2px;
}

.info-text-1 {
    grid-area: t4;
    padding-top: 15px;
}

.info-text-2 {
    grid-area: t5;
}

.info-video {
    grid-area: v1;
    width: 100%; 
    height: 315px;
    margin: 15px;
} 

.life-text-1 {
    grid-area: t6;
    margin-top: 15px;
}

.life-text-2 {
    grid-area: t7;
}

.pets-text-1 {
    grid-area: t8;
}

.pets-text-2 {
    grid-area: t9;
}

footer {
    background-color: rgb(92, 199, 92);
    padding: 25px;
    margin-top: 10px;
    text-align: center;
}

@media (min-width: 768px) {
    main {
        grid-template-columns: 80px 1fr auto 1fr 80px;
        grid-template-rows: auto;
    }

p {
    font-size: 20px;
    line-height: 27px;
}

    .container-home {
        grid-template-areas: 
            "i1 i1 i1 t1 ."
            "i2 i2 i2 t1 ."
            "j5 j5 j5 t2 ."
            ". j6 j6 j6 .";
    }  

    .container-pets {
        grid-template-areas: 
        "j1 j1 . j2 j2"
        ". t8 t8 t8 ."
        ". j3 j3 j3 ."
        ". t9 t9 t9 ."
        ". j4 j4 j4 .";
    }

    .container-contact {
        grid-template-areas: 
        "i3 i3 . i4 i4"
        ". t3 t3 t3 ."
        ". f1 f1 . .";
    }

    .info-video {
        height: 425px;
    } 

    .container-info {
        grid-template-areas: 
        ". t4 t4 t4 ."
        "i5 i5 . i6 i6"
        ". t5 t5 t5 ."
        ". v1 v1 v1 .";
    }

    .container-life {
        grid-template-areas: 
        ". t6 t6 t6 ."
        "i7 i7 . i8 i8"
        ". i9 i9 i9 ."
        ". t7 t7 t7 .";
    }
}

@media (min-width: 1024px) {
    main {
        grid-template-columns: 80px 1fr 1fr auto 1fr 1fr 80px;
        grid-template-rows: auto;
    }

    p {
        font-size: 18px;
        line-height: 25px;
    }

    .img-home-1 {
        align-self: center;
    }

    .container-home {
        grid-template-areas: 
        "j5 j5 t1 t1 t1 i1 i1"
        "j5 j5 t1 t1 t1 i1 i1"
        "i2 i2 t2 t2 t2 j6 j6"
        ". . t2 t2 t2 . .";
    }  

    .container-pets {
        grid-template-areas: 
        ". j1 j1 . j2 j2 ."
        ". j3 j3 . t8 t8 ."
        " . . . . t8 t8 ."
        ". j4 j4 . t9 t9 .";
    }
   
    .container-contact {
        grid-template-areas: 
        "i3 i3 t3 t3 t3 i4 i4"
        "i3 i3 t3 t3 t3 i4 i4"
        " . . f1 f1 f1 . .";
    }

    article {
        align-self: center;
    }

    input {
        width: 100%;
    }

    .radio {
        width: auto;
    }
    
    .info-video {
        height: 700px;
    } 

    .container-info {
        grid-template-areas: 
        ". t4 t4 t4 i5 i5 ."
        ". i6 i6 t5 t5 t5 ."
        ". v1 v1 v1 v1 v1 . ";
    }

    .container-life {
        grid-template-areas: 
        ". t6 t6 t6 t6 t6 ."
        ". i7 i7 . i8 i8 ."
        ". i9 i9 . t7 t7 .";
    }   
}







